config/config_mac.ini
config/config.ini
src/parse.py
src/data/
src/test.py
src/test_api_key.py
projects/
dataset/
information/
class_info/
tmp/
venv/
.idea/
**/__pycache__/
**/.DS_Store
result/
sync.sh
setup.py
