[submodule "core"]
	path = core
	url = https://github.com/ZJU-ACES-ISE/chatunitest-core.git
[submodule "chatunitest-maven-plugin"]
	path = impl/chatunitest-maven-plugin
	url = https://github.com/ZJU-ACES-ISE/chatunitest-maven-plugin.git
[submodule "chattester-maven-plugin"]
	path = impl/chattester-maven-plugin
	url = https://github.com/ZJU-ACES-ISE/ChatTester.git
[submodule "chatunitest-idea-plugin"]
	path = impl/chatunitest-idea-plugin
	url = https://github.com/ZJU-ACES-ISE/ChatUniTest_IDEA_Plugin.git
[submodule "testspark-maven-plugin"]
	path = impl/testspark-maven-plugin
	url = https://github.com/ZJU-ACES-ISE/TestSpark-maven-plugin.git
